* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;

}

body {
    margin: 0;
}

section {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    background-color: white;
    padding: 1rem;
}

.form-control {
    margin: 1rem 0;
}

.form-control input,
.form-control textarea,
.form-control label {
    display: block;
    width: 100%;
    font: inherit;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #ccc;
    padding: 0.25rem;
    border-radius: 4px;
}

.form-control input:focus,
.form-control textarea:focus {
    border-color: #6666ff;
    outline: none;
    background-color: #6666ff;
    color: white;
}

button {
    cursor: pointer;
    font: inherit;
    border-radius: 6px;
    border: 1px solid #6666ff;
    background-color: #6666ff;
    color: white;
    padding: 0.5rem 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    transition: all .2s linear;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    background-color: royalblue;
    transform: scale(1.03);
}

#user-messages ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.message-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.message-image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.message-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

h1 {
    color: #6666ff;
    margin-bottom: 1rem;
}

#target_website {
    position: relative;
    width: 300px;
    height: 400px;
    opacity: 0.00001;
    z-index: 2;
}

#decoy_website {
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: 1;
}